.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.github
      li
        a(href="https://github.com/" + theme.github)
          i.fa.fa-github
    if theme.mail
      li
        a(href="mailto:" + theme.mail)
          i.fa.fa-envelope-o
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
  include footer
